.myclass{
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: repeating-radial-gradient(grey 20%, white 40%);
}
.myclass2{
    text-align: center;
    font-size: 10vw;
    padding: 20vw;
    border: solid;
    background: repeating-linear-gradient(grey 20%, white 40%);
}